.item-contentss{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.item-contentss{
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%; /* 16:9 の高さなので 56.25% (= 9 ÷ 16) */
  position: relative;
}

.item-contentss iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.item-img-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-imgs {
  width: 20vh;
  height: 20vh;
}