<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container"> 
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">みるポチについて</h4>
          <p class="text-muted">動画を見て気に入った商品があればその場ですぐにポチれる！その商品のイメージを動画で見てお買い物が出来るECサイトです<br>手軽に詳しく気になるものをチェック！動画を見てすぐクリック。自分が見て想像したままのアイテムがすぐ手の中に！</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <!-- <li><a href="#" class="text-white">Follow on Twitter</a></li> -->
            <li><a href="/items/new" class="text-white">動画投稿</a></li>
            <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
            <li><a href="/items/category_all" class="text-white">動画一覧</a></li>
            <!-- <li><a href="#" class="text-white">Email me</a></li> -->
            <li><a href="/items" class="text-white">TOPページに戻る</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <%=image_tag "portfolio/fullsize/26.png"%>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>